<% layout('layout') -%>



<div class="content">
  <h1>The Executable Truth Table WebApp Integration Examples</h1>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Vorachet Jaroensawas</strong> <small><a href="https://twitter.com/aotvorachet" target="twitter">@aotvorachet</a></small>
            <br>
            After <a href="https://github.com/vorachet/executable-truth-table">TTABLE</a> was released, its first version in Apr 2017, we wrote this <a href="https://github.com/vorachet/executable-truth-table-webapp-examples">webapp integration examples</a> for discovering use cases of TTABLE in real world Discrete-Event (DE) System Design. Truth Table is a common component that generally used by DE System Designer in modeling conditions, states, and decisions of a computation. Our TTABLE is aimed to support software engineer works faster in designing I/O behavior and function by using TTABLE to create an executable software prototype. The TTABLE webapp integration examples demonstrate the two capabilities of TTABLE; <span class="c-text--highlight">executable TruthTable</span> and <span class="c-text--highlight">built-in TruthTable specification generator</span> in your Node.js prototype project.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="content"><h2>Install</h2></div>

<div style="margin-bottom: 20px;">
Assuming you’ve already installed <a href="https://git-scm.com">Git</a> and <a href="https://nodejs.org/">Node.js</a>, clone project from GitHub.
  <pre><code class="bash">
    $ git clone https://github.com/vorachet/executable-truth-table-webapp-examples
    $ cd executable-truth-table-webapp-examples
    $ npm install
    $ npm start
  </code></pre>
</div>

<div class="content">
  <h2>Run</h2>
  <p>
  Then, load <a href="http://localhost:3000">http://localhost:3000</a> in a browser to see the webapp.
  </p>
</div>

<blockquote class="c-blockquote">
  <div class="c-blockquote__body">
   The real problem is not whether machines think but whether men do.
  </div>
  <footer class="c-blockquote__footer">
    - B. F. Skinner (1904 - 1990), American Psychologist, Author, and Inventor
  </footer>
</blockquote>
<p><a href="https://github.com/vorachet/executable-truth-table">TTABLE</a> by <a href="https://www.linkedin.com/in/vorachet">Vorachet Jaroensawas</a></p>
